trunk/Tools.Net/spikes/Monitoring/Tools.Commands.Definitions/IF1/xsd/ModifyWallet.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/ModifyWallet.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/AllTypes.xsd"
	 targetNamespace="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/ModifyWallet.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/AllTypes.xsd" schemaLocation="AllTypes.xsd"/>
	<xs:element name="ModifyWallet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req"/>
				<xs:element ref="res" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TISwalletId"/>
				<xs:element ref="billingCycle" minOccurs="0"/>
				<xs:element ref="taxGroup" minOccurs="0"/>
				<xs:element ref="reqId"/>
				<xs:element ref="reqTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="res">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TISwalletId" type="xs:string"/>
	<xs:element name="billingCycle" type="xs:string"/>
	<xs:element name="taxGroup" type="xs:string"/>
	<xs:element name="reqId" type="xs:string"/>
	<xs:element name="reqTime" type="xs:dateTime"/>
	<xs:element name="result" type="ns0:result"/>
</xs:schema>