Tools.Net/spikes/Monitoring/Tools.Commands.Definitions/IF1/xsd/CreateCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/CreateCustomer.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/AllTypes.xsd"
	 targetNamespace="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/CreateCustomer.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/SDPRO_Observer/Observer/SharedResources/XSD/IF1/AllTypes.xsd" schemaLocation="AllTypes.xsd"/>
	<xs:element name="CreateCustomer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req"/>
				<xs:element ref="res" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TIScustomerId"/>
				<xs:element ref="customerType"/>
				<xs:element ref="name"/>
				<xs:element ref="MP" minOccurs="0"/>
				<xs:element ref="TISwalletId"/>
				<xs:element ref="billingCycle"/>
				<xs:element ref="taxGroup"/>
				<xs:element ref="reqId"/>
				<xs:element ref="reqTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="res">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TIScustomerId" type="xs:string"/>
	<xs:element name="customerType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="O"/>
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="MP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="params" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TISwalletId" type="xs:string"/>
	<xs:element name="billingCycle" type="xs:string"/>
	<xs:element name="taxGroup" type="xs:string"/>
	<xs:element name="reqId" type="xs:string"/>
	<xs:element name="reqTime" type="xs:dateTime"/>
	<xs:element name="result" type="ns0:result"/>
	<xs:element name="id" type="xs:positiveInteger"/>
	<xs:element name="params" type="ns0:params"/>
</xs:schema>